@import "../../App.scss";

.social-links-container {

  .fab {
    margin: 5px;
    color: $accent-color;
    -webkit-text-stroke: 2px $black-color;

    &:hover,
    &:focus,
    &:focus-visible,
    &:active {
      color: $white-color;
      -webkit-text-stroke: 2px $accent-color;
    }
  }
}
