@import "../../App.scss";

.header {
  position:relative;
  top: 0;
}

.hero-banner {
  width: 100vw;
  height: 40vh;
  position: relative;
  border-bottom: 10px double $black-color;

  img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
  }

  .title-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .social-links-container {
    position: absolute;
    top: 10px;
    right: 10px;

    .fab {
      margin: 5px;
      color: $accent-color;
      -webkit-text-stroke: 2px $black-color;

      &:hover,
      &:focus,
      &:focus-visible,
      &:active {
        color: $white-color;
        -webkit-text-stroke: 2px $accent-color;
      }
    }
  }
}

@media (min-width: $small) {
  .hero-banner {
    height: 60vh;

    .social-links-container {
      right: 20px;
    }
  }
}

@media (min-width: $medium) {
  .hero-banner {
    .title-container {
      .overdose {
        font-size: 130px;
      }

      .sports {
        margin-top: -120px;
        margin-left: 480px;
        font-size: 110px;
      }
    }

    .social-links-container {
      top: 20px;
    }
  }
}

@media (min-width: $large) {
  .hero-banner {
    height: 80vh;

    .title-container {
      .overdose {
        font-size: 150px;
      }

      .sports {
        margin-top: -140px;
        margin-left: 550px;
        font-size: 130px;
      }
    }

    .social-links-container {
        right: 30px;
      }
  }
}
