@import "../../App.scss";

.footer {
  width: 100vw;
  height: 300px;
  background: $accent-color;
  border-top: 10px double $black-color;
  margin-top: 15vh;
//   position: absolute;
//   bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;

  .title-container {
    .sports {
      color: $white-color;
      -webkit-text-fill-color: $white-color;
    }
  }
}
