// Colors
$white-color: #FFFFFF;
$black-color: #000000;
$accent-color: #90C1A9;
$error-color: #FF0000;

// Breakpoints
$small: 550px;
$medium: 800px;
$large: 1200px;
$xl: 1600px;

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 800;
}

.errors {
  color: $error-color;
}
